* {
    margin:0;
    padding:0;
}

.container-slide {
    display: flex;
    justify-content: space-between;
    max-width:50vw;
    height:50vh;
    background-color: black;
    border-radius: 10px;
    border: 5px solid black;
    color:black;
    margin:auto;
    margin-top:150px;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.212), 0 5px 5px rgba(0, 0, 0, 0.212), 5px 5px 5px rgba(0, 0, 0, 0.216); /*Sombra em três lados da div */

}

.container-items {
    position: absolute;
    display: flex;
    width:50vw;
    height:50vh;
    border-radius: 10px;
}

.item {
    width: 50vw;
    height: 50vh;
}

.item img {
    width:50vw;
    height:50vh;
    border-radius:10px;
}

.action-button {
    font: bold 30px sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width:50px;
    color:#00000000;
    user-select: none;
    z-index: 1;
}
.action-button:hover {
   color:white;
   background-image: linear-gradient(to right, transparent, red, transparent);
   border-radius: 10px;
   cursor: pointer;
   transition: all 1s;
}