@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Rubik+Pixels&display=swap');

* {
    margin:0;
    padding:0;
}

body {
    background-color: rgba(0, 0, 0, 0.218);
}

header h1 {
    text-align: center;
    color:black;
    font-size: 2em;
    font-family: 'Noto Sans JP', sans-serif;
    background-image: linear-gradient(to right, transparent, red, transparent, red);
}

.container-slide {
    display: flex;
    justify-content: space-between;
    max-width:50vw;
    height:50vh;
    background-color: black;
    border-radius: 10px;
    border: 5px solid black;
    color:black;
    margin:auto;
    margin-top:150px;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.212), 0 5px 5px rgba(0, 0, 0, 0.212), 5px 5px 5px rgba(0, 0, 0, 0.216); /*Sombra em três lados da div */


}

.container-items {
    position: absolute;
    display: flex;
    width:50vw;
    height:50vh;
    border-radius: 10px;
    overflow: hidden;
    
}

.item {
    width: 50vw;
    height: 50vh;
    transition: all 1s;
    
}

.item:first-child {
   margin-left: -100%;
}

.item img {
    width:50vw;
    height:50vh;
    border-radius:10px;
}

.action-button {
    font: bold 30px sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width:50px;
    color:#00000000;
    user-select: none;
    z-index: 1;
}
.action-button:hover {
   color:white;
   background-image: linear-gradient(to right, transparent, red, transparent);
   border-radius: 10px;
   cursor: pointer;
   transition: all 1s;
}

footer {
    text-align: center;
    margin-top:100px;
    background-image: linear-gradient(to right, transparent, red, transparent, red);
    height:80px;
    line-height:80px;
    color:black;

    
}

footer p a {
    text-decoration: none;
    color:black;
}

a:hover {
    text-decoration: underline;
    color:black;
}