.container-slide {
    max-width:700px;
    height:300px;
    border-radius: 10px;
    border: 5px solid black;
    color:black;
    margin:auto;
    margin-top:150px;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.212), 0 5px 5px rgba(0, 0, 0, 0.212), 5px 5px 5px rgba(0, 0, 0, 0.216); /*Sombra em três lados da div */

}